type_transition netmgrd system_data_file:file netmgrd_data_file "log.txt";

allow netmgrd self:capability dac_override;
allow netmgrd netmgrd_data_file:file create_file_perms;
