service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.xiaomi_mido
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid
    writepid /dev/cpuset/system-background/tasks
    disabled

service vendor.gx_fpd /vendor/bin/gx_fpd
     class core
     user system
     group system drmrpc
     writepid /dev/cpuset/system-background/tasks

on boot
    # Fingerprint Permissions
    chown system system /dev/goodix_fp
    chmod 0644 /dev/goodix_fp

    chown system system /sys/devices/soc/soc:fpc1020/compatible_all
    chmod 0664 /sys/devices/soc/soc:fpc1020/compatible_all
    chown system system /sys/devices/soc/soc:fpc1020/irq
    chmod 0660 /sys/devices/soc/soc:fpc1020/irq
    chown system system /sys/devices/soc/soc:fpc1020/hw_reset
    chmod 0660 /sys/devices/soc/soc:fpc1020/hw_reset
    chown system system /sys/devices/soc/soc:fpc1020/wakeup_enable
    chmod 0660 /sys/devices/soc/soc:fpc1020/wakeup_enable

service goodix_script /vendor/bin/init.goodix.sh
    class late_start
    user system
    oneshot

on property:sys.fp.vendor=switchf
    stop vendor.gx_fpd
    setprop sys.fp.vendor searchf
    setprop fpc.fp.miui.token 0
    setprop ro.boot.fpsensor fpc
    setprop ro.hardware.fingerprint searchf
    start vendor.fps_hal

on property:sys.fp.onstart=1
   setprop goodix.fp.miui.analyse 1
   setprop goodix.fp.miui.token 0
   setprop ro.boot.fpsensor gdx
   setprop ro.hardware.fingerprint goodix
   start vendor.fps_hal
