on early-boot
    # Notification LEDs
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/red/breath
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/max_brightness

    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/green/breath
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/max_brightness

    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/blue/breath
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/max_brightness

    chown system system /sys/class/leds/white/blink
    chown system system /sys/class/leds/white/breath
    chown system system /sys/class/leds/white/brightness
    chown system system /sys/class/leds/white/max_brightness

    # Backlight
    chown system system /sys/class/backlight/backlight/brightness
    chown system system /sys/class/backlight/backlight/max_brightness

    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness

    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/max_brightness

    # Buttons
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/button-backlight1/brightness

service vendor.light-default /vendor/bin/hw/android.hardware.light-service.xiaomi
    class hal
    user system
    group system
    shutdown critical
