# Copyright (c) 2013-2017, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#
on early-init
    write /proc/sys/kernel/sched_boost 1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    mount_all /vendor/etc/fstab.qcom

    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system
    mkdir /mnt/vendor/persist/bms 0700 root system
    restorecon_recursive /mnt/vendor/persist

on init
    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

# Add a cpuset for the camera daemon
    mkdir /dev/cpuset/camera-daemon 0750 cameraserver cameraserver
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

on post-fs
    start vendor.qseecomd
    wait_for_prop vendor.sys.listeners.registered true
    write /dev/ipa 1

on post-fs-data
#Create folder for mm-qcamera-daemon
mkdir /data/vendor/qcam/ 0770 camera camera

#start camera server as daemon
service qcamerasvr /vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/system-background/tasks

#Start up peripheral manager
service vendor.per_mgr /vendor/bin/pm-service
    class core
    user system
    group system net_raw
    ioprio rt 4
    writepid /dev/cpuset/system-background/tasks

service vendor.per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled
    writepid /dev/cpuset/system-background/tasks

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy
    stop vendor.ims_rtp_daemon

service vendor.qseecomd /vendor/bin/qseecomd
   class core
   user root
   group root
   writepid /dev/cpuset/system-background/tasks

service thermal-engine /vendor/bin/thermal-engine
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   socket thermal-send-rule stream 0660 system system
   group root
   writepid /dev/cpuset/system-background/tasks

service adsprpcd /vendor/bin/adsprpcd
   class main
   user media
   group media

service wcnss-service /vendor/bin/wcnss_service
    class late_start
    user system
    group system wifi radio
    oneshot

service vendor.imsqmidaemon /vendor/bin/imsqmidaemon
    class main
    user radio
    socket ims_qmid stream 0660 system radio
    group radio log diag
    writepid /dev/cpuset/system-background/tasks

service vendor.imsdatadaemon /vendor/bin/imsdatadaemon
    class main
    user radio
    socket ims_datad stream 0660 system radio
    group radio wifi inet log diag
    writepid /dev/cpuset/system-background/tasks
    disabled

on property:vendor.ims.QMI_DAEMON_STATUS=1
    start vendor.imsdatadaemon

service vendor.ims_rtp_daemon /vendor/bin/ims_rtp_daemon
   class main
   user radio
   group radio vendor_qti_diag inet log
   writepid /dev/cpuset/system-background/tasks

service vendor.imsrcsservice /vendor/bin/imsrcsd
   class main
   user radio
   group radio diag inet log wakelock
   writepid /dev/cpuset/system-background/tasks

on property:vendor.ims.DATA_DAEMON_STATUS=1
   restart vendor.ims_rtp_daemon

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

on property:init.svc.surfaceflinger=restarting
    stop ppd

on property:init.svc.zygote=stopped
    stop ppd

on property:init.svc.zygote=running
    start ppd

on property:init.svc.zygote=restarting
    stop ppd

service energy-awareness /vendor/bin/energy-awareness
    class main
    user root
    group system
    oneshot

service vendor.hvdcp_opti /vendor/bin/hvdcp_opti
    class main
    user root
    group system wakelock

on charger
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    start vendor.hvdcp_opti
    start vendor.power_off_alarm
    start thermal-engine

on boot
# Update cpusets on boot and we want better load balancing
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-6
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3

# access permission for wlan
    chown system system /mnt/vendor/persist/WCNSS_qcom_wlan_nv.bin

service ppd /vendor/bin/mm-pp-dpps
    class late_start
    user system
    group system graphics
    socket pps stream 0660 system system
    disabled
