# UClamp tunings
on boot
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 96
    write /proc/sys/kernel/sched_util_clamp_min 128

    # top-app
    write /dev/cpuset/top-app/uclamp.max max
    write /dev/cpuset/top-app/uclamp.min 20
    write /dev/cpuset/top-app/uclamp.boosted 1
    write /dev/cpuset/top-app/uclamp.latency_sensitive 1

    # foreground
    write /dev/cpuset/foreground/uclamp.max 50
    write /dev/cpuset/foreground/uclamp.min 20
    write /dev/cpuset/foreground/uclamp.boosted 0
    write /dev/cpuset/foreground/uclamp.latency_sensitive 0

    # background
    write /dev/cpuset/background/uclamp.max max
    write /dev/cpuset/background/uclamp.min 20
    write /dev/cpuset/background/uclamp.boosted 0
    write /dev/cpuset/background/uclamp.latency_sensitive 0

    # system-background
    write /dev/cpuset/system-background/uclamp.max 50
    write /dev/cpuset/system-background/uclamp.min 10
    write /dev/cpuset/system-background/uclamp.boosted 0
    write /dev/cpuset/system-background/uclamp.latency_sensitive 0
