on boot
# Flashlight
   chown root system sys/devices/platform/soc/200f000.qcom,spmi/spmi-0/spmi0-03/200f000.qcom,spmi:qcom,pmi8950@3:qcom,leds@d300/leds/led:torch_0/max_brightness
   chmod 0660 sys/devices/platform/soc/200f000.qcom,spmi/spmi-0/spmi0-03/200f000.qcom,spmi:qcom,pmi8950@3:qcom,leds@d300/leds/led:torch_0/max_brightness
   chown root system sys/devices/platform/soc/200f000.qcom,spmi/spmi-0/spmi0-03/200f000.qcom,spmi:qcom,pmi8950@3:qcom,leds@d300/leds/led:torch_1/max_brightness
   chmod 0660 sys/devices/platform/soc/200f000.qcom,spmi/spmi-0/spmi0-03/200f000.qcom,spmi:qcom,pmi8950@3:qcom,leds@d300/leds/led:torch_1/max_brightness
   write sys/devices/platform/soc/200f000.qcom,spmi/spmi-0/spmi0-03/200f000.qcom,spmi:qcom,pmi8950@3:qcom,leds@d300/leds/led:torch_1/max_brightness 0
   
on property:sys.boot_completed=1
# Audio gain permissions
  chown system system /sys/kernel/sound_control/headphone_gain
  chown system system /sys/kernel/sound_control/mic_gain
  chown system system /sys/kernel/sound_control/speaker_gain
  restorecon_recursive /sys/kernel/sound_control
  chmod 0660 /sys/kernel/sound_control/headphone_gain
  chmod 0660 /sys/kernel/sound_control/mic_gain
  chmod 0660 /sys/kernel/sound_control/speaker_gain
